.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
padding: 0px 32px 0px 32px;
gap: 12px;
}
.link{
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #F1F1F3;
    text-align: center;
text-decoration: none;
font-size: 14px;
font-weight: 500;
line-height: 21px;
color: #262626;
}
.link:hover{
    background: #FF9500;
    color: #FFFFFF;
padding: 12px 20px 12px 20px;
border-radius: 6px;
}
