.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 50px;
    padding: 14px 0px 14px 0px;
    border-bottom: 1px solid #F1F1F3;
    transform: transition 500ms cubic-bezier(.32,.63,.83,.67);

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu{
    all: unset; 
  display: inline-block; 
  cursor: pointer;
}