.container{
    padding: 0px 30px 0px 30px;    
    text-align: center;
    margin-top: 16px;
    margin-bottom: 50px;
}
.head{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #262626;    
}
.subHead{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #262626;    
}
@media (min-width:1440px) {
    .container{
        padding: 0;
    }
    .head{
font-size: 28px;
font-weight: 500;
line-height: 42px;
    }
    .subHead{
        font-family: Be Vietnam Pro;
font-size: 16px;
font-weight: 400;
line-height: 24px;
    }
}
@media (min-width:1920px) {
    .container{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .head{
font-size: 38px;
line-height: 57px;
    }
    .subHead{
        font-family: Be Vietnam Pro;
font-size: 18px;
line-height: 27px;
    }
}