.container{
    width: 357px;
height: 84px;
padding: 10px;
border-radius: 8px;
border: 1px solid #F1F1F3;
background: #FCFCFD;
list-style-type: none;
text-decoration: none;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 30px;
}
.container>li{
    padding: 20px 30px 20px 30px; 
    border-right: 1px solid #F1F1F3
}
