.container{
    margin-bottom: 30px;
}
@media (min-width: 1440px) {
    .container{
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}